.selectBox,
.selectBoxOpen {
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  outline: none;
  width: 100%;
}

.selectBox:focus,
.selectBoxOpen {
  border-color: cadetblue;
}

.selectBox *,
.selectBoxOpen * {
  user-select: none;
  padding: 0;
  margin: 0;
}

.selectBox > .placeholder,
.selectBoxOpen > .placeholder {
  color: #ccc;
}

.multiSelectBadges {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 4px;
}

.multiSelectBadges li {
  background-color: #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  display: block;
  border: none;
}

.multiSelectBadges li:hover {
  background-color: red;
  cursor: pointer;
}

.selectMenu {
  position: fixed;
  z-index: 80;
}

.selectMenu .searchInput {
  width: 100%;
}

.selectMenu .searchInputContainer {
  padding: 8px;
  padding-top: 0;
}

.selectList {
  border: 1px solid cadetblue;
  background-color: white;
  border-radius: 8px;
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.selectList button {
  cursor: pointer;
  display: block;
  padding: 4px 8px;
  user-select: none;
  width: 100%;
  text-align: left;
  border: none;
  background-color: white;
  outline: none;
}

.selectList .option:hover,
.selectList .option:focus {
  background-color: aliceblue;
}

.selectList .optionSelected {
  background-color: cadetblue;
}
